/*====================== BASE ======================*/
:root{
	--blue:#00c3ff;
	--black:#000000;
}

*{
	font-family: 'Roboto', sans-serif;
	margin:0;
	padding:0;
	box-sizing:border-box;
	text-decoration:none;
	outline:none;
	border:none;
	text-transform:capitalize;
}

*::selection{
	background:var(--blue);
	color:#fff;
}

html{
	font-size:62.5%;
	overflow-x:hidden;	
}

body{
	background:#f9f9f9;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section{
	min-height:100vh;
	padding:8% 3% 3%;
	
}

main{
	overflow:hidden
}

.heading{
	text-align:center;
	text-transform: uppercase;
	padding-bottom:3.5rem;
	font-size:4rem;
}

.heading span{
	color:var(--blue);
	text-transform: uppercase;
	padding-right:1.5rem;
}
/*====================== header ======================*/
header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#fff;
    box-shadow: 0 .5rem 1rem rgb(112, 182, 214);
	padding:2 rem 9%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	z-index:1000;
    flex-direction: row-reverse;
}
header h1{
    padding-right: 2%;
    font-size: 2.3rem;
}
header img{
    margin: 1% 2%;
}
.logout-btn {
    color: #ffffff;
    background-color: #1641b9;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.5rem;
}

.logout-btn:hover {
    background-color: #05357c;
}
/*====================== FOOTER ======================*/

footer {
    min-height:auto;
	padding-top:3rem;
	background:#000000;
	background-size:cover;
	background-position:center;
}

footer .box-container{
	display:flex;
	justify-content:center;	
	flex-wrap:wrap;
    align-items: baseline;
}

footer  .box-container .box1{
	margin:2rem 5rem;
	flex:1 1 25rem;
}
footer  .box-container .box1 h1{
	color:var(--blue);
	text-transform: uppercase;
	font-size:2.5rem;
    padding-bottom:1.5rem;
}

footer  .box-container .box1 h1 span{
	color:#fff;
}

footer .box-container .box1 p{
	font-size:1.8rem;
	color:#fff;
	padding:1rem 0;
}

footer  .box-container .box1 p i{
	padding-right:1rem;
	color:var(--blue);
    padding-left: 2rem;
}

footer .box-container .box1 a{
	height:5rem;
	width:5rem;
	line-height:4.8rem;
	text-align:center;
	border:.1rem solid rgb(112, 182, 214);;
	border-radius:50%;
	font-size:2rem;
	color:#fff;
	margin-right:1rem;
}

footer .box-container .box1 a:havor{
	background:var(--blue);
	color:#fff;
}

footer .creat{
	padding:2rem 1rem;
	text-align:center;
	font-size:1.8rem;
	color:#C0C0C0;
	border-top:.1rem solid #fff;
}

footer .creat span{
	color:rgb(0, 162, 255);
	font-size:2rem;

}

/*====================== LogIn ======================*/

.LogIn{
	display:flex;
	align-items:center;
	justify-content:space-around;
	background:url(../images/bkimg.jfif) no-repeat;
	background-size:cover;
	background-position:center;
    flex-direction: row-reverse;
}

.LogIn .image img{
	width:25vw;
	animation: float 4s linear infinite;
    
}

@keyframes float{
	0%{
		transform:translateY(0rem);
	}
	50%{
		transform:translateY(-3.5rem);
	}
	100%{
		transform:translateY(0rem);
	}
}


.box{
    
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    text-align: left;

}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 2.5rem;
}
.box form .inputBox{
    position: relative;
    width: 300PX;
    margin-top: 35PX;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;

}
.box form .inputBox span{
    position: absolute;
    right: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span {
    color: #fff;
    font-size: 1.2rem;
    transform: translateY(-34px);
}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~i,
.box form .inputBox input:focus ~i{
    height: 44px;
}
.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 40px;
}
.box form input[type="submit"]:active{
    opacity: 0.8;
}

.error {
    color: red;
    font-size: 1.6rem;
    padding-top:6px;
}
/*====================== Home ======================*/

.container {
    max-width:100%;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.container button {
    background-color: #333333;
    color: #ffffff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 20px ;
    transition: all 0.3s ease-in-out;
    border: none;
    width: 50%;
    text-align: center;
    cursor: pointer;
    font-size: 1.8rem;
}

.container button:hover {
    background-color: #4c4c4c;
}

.courses {
    display: none;
    padding: 5px 10px;
}

.conference {
    display: none;
    padding: 20px;
}

li {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin: 20px 80px;
    padding: 30px;
    text-align: center;
    flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 1.6rem;
}

li:not(:first-child) {
    opacity: 0.5;
    pointer-events: none;
}

li:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    transform: translateY(-5px);
}
.courses li h3{
    margin: 10px 0;
}
.courses li img{
    margin: 10px 0 20px ;
}

.container img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}
.courses li p span{
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 20px ;
    transition: all 0.3s ease-in-out;
    border: none;
    width: 50%;
    text-align: center;
}
.courses h2{
    margin-bottom: 20px ;
    font-size: 2rem;
}
.conference li p span{
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px 20px ;
    transition: all 0.3s ease-in-out;
    border: none;
    width: 50%;
    text-align: center;
}
.conference h2{
    margin-bottom: 20px ;
    font-size: 2rem;
}
.conference li h3{
    margin: 20px 0;
}
.conference li h4{
    margin: 10px 0 20px;
}
.courses a {
    background-color: #333333;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#btn-set {
    background-color: #333333;
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius:5px;
    transition: all 0.3s ease-in-out;
    margin: 10px 20px ;
    text-align: center;
    cursor: pointer;
    font-size: 1.6rem;

}
#btn-set:hover {
    background-color: #4c4c4c;
}


.courses a:hover {
    background-color: #4c4c4c;
}



.wavy {	
    margin-top: 6rem;
    text-align: center;
    font-size: 2.8rem;
}

.wavy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    animation: wavy 3s infinite;
    animation-delay: calc(.1s * var(--i));

}
.wavy span1 {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 255, 0.9);
    text-transform: uppercase;
    animation: wavy 2s infinite;
    animation-delay: calc(.1s * var(--i));
}

@keyframes wavy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

.wavy span:nth-child(1) {
    animation-delay:0s;
}
.wavy span:nth-child(2) {
    animation-delay:.1s;  
}
.wavy span:nth-child(3) {
    animation-delay:.2s;
}
.wavy span:nth-child(4) {
    animation-delay:.3s;  
}
.wavy span:nth-child(5) {
    animation-delay:.4s;
}
.wavy span:nth-child(6) {
    animation-delay:.5s;  
}
.wavy span:nth-child(7) {
    animation-delay:.6s;
}
.wavy span:nth-child(8) {
    animation-delay:.7s;
}
.wavy span:nth-child(9) {
    animation-delay:.8s;  
}
.wavy span:nth-child(10) {
    animation-delay:.9s;
}
.wavy span1:nth-child(11) {
    animation-delay:.9s;
}
.wavy span:nth-child(12) {
    animation-delay:.9s;
}
.wavy span:nth-child(13) {
    animation-delay:1.0s;  
}
.wavy span:nth-child(14) {
    animation-delay:1.1s;
}
.wavy span:nth-child(15) {
    animation-delay:1.2s;  
}
.wavy span:nth-child(16) {
    animation-delay:1.3s;
}
.wavy span:nth-child(17) {
    animation-delay:1.4s;
}
.wavy span:nth-child(18) {
    animation-delay:1.5s;  
}
.wavy span:nth-child(19) {
    animation-delay:1.6s;
}


.gray-button {
    background-color: rgb(128, 128, 128);
  }
  
/*====================== Dates ======================*/
.cDates h1{
    margin-top: 1%;
    margin-bottom: 2% ;
    font-size: 3rem ;
    color: #000000;
    font-weight: 800;
}
.container1 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.container1 h1 {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 30px;
    animation: fadeInUp 1s ease;
}
.container1 button {
    background-color: #6e6e6e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    animation: fadeIn 1s ease;
    transition: transform 0.2s ease;
}
.container1 button:hover {
    background-color: #3e638e;
    transform: scale(1.1);
}
.container1 button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    animation: none;
    transform: none;
    color: #777;
}
@keyframes fadeIn {
    from {
            opacity: 0;
            transform: translateY(10px);
    }
    to {
            opacity: 1;
            transform: translateY(0);
    }
}
@keyframes fadeInUp {
    from {
            opacity: 0;
            transform: translateY(20px);
    }
    to {
            opacity: 1;
            transform: translateY(0);
    }
}
  

/*====================== media queries ======================*/

@media (max-width:1200px){
	.image img{
		height: 300px;
	}
}

@media (max-width:900px){
    .image img{
		height: 200px;
	}
    .cDates h1{
        margin-top: 4%;
        margin-bottom: 5% ;
    }
	
}

@media (max-width:750px){
    header h1{
        font-size: 1.9rem;
    }
   header img{
    height: 50px;
   }

    .LogIn{
        flex-flow: column;
    }

    .LogIn .image img{
        margin-top: 5rem ;
        height: 100%;
        margin-bottom:2rem;
    }

    .LogIn .box{
        margin-top: 20% ;

    }

    .cDates h1{
        margin-top: 6%;
        margin-bottom: 7% ;
        }
}
@media (max-width:400px){
 
    .cDates h1{
     margin-top: 10%;
     margin-bottom: 7% ;
     }
 
 }
 


